:root{
    --color-1: #bc9c00;
    --text-color: #fff;
    --accent-color: aqua;
}

body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #c7edf8;
    color: #239131;
}

nav{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    background-color: var(--accent-color);
}

nav .home-link{
    margin-right: auto;
}

nav svg{
    fill: var(--text-color);
}

#sidebar-active{
    display: none;
}

.open-sidebar-btn,
.close-sidebar-btn{
    display: none;
}

@media(max-width: 450px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.8s ease-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-btn,
    .close-sidebar-btn{
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        background: black;
        opacity: 63%;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        transition: 0.8s ease-out;
    }
}

/*section1//////////////////////////////////////////*/
.sec1{
    height: 110vh;
    /* background: red; */
    box-sizing: border-box;
    padding: 35px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
} 

.sec2{
    height: 140vh;
    background: #f1f1f1;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.sec1 p {
    margin: 0;

}

#BigBGVideo{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content{
    position: relative;
    bottom: 0;
    background: rgba(0,0,0,0);
    color: #f1f1f1;
    width: 100vw;
    padding: 1px;
    align-items: center;
    text-align: left;
    font-size: 2vw;
}

.content h1{
    font-size: 10vw;
    text-align: center;
}


.sec2 .content{
    color: black;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 3.5vm;
    position: relative;
}

.sec2 .content h1{
    font-size: 7vw;
}

hr.About {
    border: 1px dashed black;
}

#frame{
    position: relative;
    padding: 0;
    margin: 0;
    border: solid 1vw #555;
    width: 50vw;
    margin: 11vw auto;
    box-shadow: -1vw -1vw 4vw #999;
    align-items: left;

}

#border{
    position: relative;
    padding: 0;
    margin: 0;
    border: solid 2vw white;
    box-shadow: -1vw -1vw 4vw #999;
}

img{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    border-top: solid 0.5vw #aaa;
    border-left: solid 0.5vw #aaa;
    border-bottom: solid 0.5vw #ccc;
    border-right: solid 0.5vw #ccc;
}

.ExunderAB{
    justify-content: end;
    display: flex;
    color: black;
}

.Exnextimage{
    width: 60vw;
    padding-left: 3vw;
    font-size: 2vw;
}

.Choice{
    display: grid;
    column-gap: 5vw;
    grid-template-columns: auto auto auto;
    padding: 1vw;
}

.Choice > div {
    border: 1px soid black;
    padding: 1vw;
    font-size: 2vw;
    text-align: left;
}

.Exnextimage h2{
    font-size: 3.5vw;
}

.Exnextimage h3{
    font-size: 2vw;
}

.footabout{
    color: black;
    text-align: center;
}

.Choicefoot{
    display: grid;
    column-gap: 5vw;
    grid-template-columns: auto auto;
    padding: 1vw;
}

.Choicefoot > div {
    border: 1px soid black;
    padding: 1vw;
    font-size: 2vw;
    text-align: left;
}

.footabout img{
    padding: 2vw;
    width: 20vw;
}

iframe{
    width: 20vw;
    height: auto;
}